---
layout: layouts/base.vto
---

{{ comp.header({title: name}) }}
{{ comp.sidebar({sidebar: sidebar}) }}
Last modified: {{ date }}

<div>
  {{ jsDoc.doc |> md  }}  
</div>
<ul>
  {{ for tag of jsDoc.tags }}
  <li>{{ tag.kind }} {{ tag.doc }}</li>
  {{ /for }}
</ul>