---
title: API reference
---

<ul>
{{ for item of docs.nodes[1].namespaceDef.elements }}
  <li><a href="/apis/{{item.kind}}/{{item.name}}-{{item.location.byteIndex}}">{{ item.name }}</a> ({{ item.kind }})</li>
{{ /for }}
</ul>