---
title: Components
templateEngine: [vto, md]
---

## API references

### api node kind badges

```
{{ comp.apiTag({kind: "class|function|interface|type"}) }}
```

{{ comp.apiTag({kind: "class"}) }}
{{ comp.apiTag({kind: "function"}) }}
{{ comp.apiTag({kind: "interface"}) }}
{{ comp.apiTag({kind: "type"}) }}